# Ignore virtual environment
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS files
.DS_Store

# Legacy folder
legacy/

# image files
/images/*.png
/images/*.psd
!images/evergrain_logo.png

# Locals only
tester.py
notes.txt
/.helpers

# dotenv
.env
