# OS-specific files
.DS_Store
Thumbs.db

# Ignore virtual environment
.venv/

# .env files
.env
.python-version

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# dev tools
.pytest_cache
.ruff_cache

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
wheels/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS files
.DS_Store

# Legacy folder
legacy/

# image files
/images/*.png
/images/*.psd
!images/evergrain_logo.png

# Locals only
main.py
tester.py
notes.txt
/.helpers
/tests

# dotenv
.env
